#wrapper{
  width:750px;
  height: 750px;
}

#grad {
  background-image: linear-gradient(rgb(106, 90, 205,0)), rgb(106, 90, 205,1));
}

#header{
  width: 750px;
  height: 50px;
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

#leftbody{
  width: 750px;
  height: 750px;
  float: left;
}

ul{
  margin: 0;
  padding: 0;
}

.box1 li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box1 li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all ease-in-out 250ms;
}

.box li a:hover{
  color: #b9b9b9;
}
